In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('eda_data.csv')
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

In [3]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel', 'job_simp', 'seniority', 'desc_len',
       'num_comp'],
      dtype='object')

In [ ]:
<li id="ember459" class="ember-view   jobs-search-results__list-item occludable-update p0 relative scaffold-layout__list-item" data-occludable-job-id="3701427136">
            
                  
    <div>
      
    <div data-job-id="3701427136" class="job-card-container relative job-card-list
        job-card-container--clickable
        
        job-card-list--underline-title-on-hover jobs-search-results-list__list-item--active jobs-search-two-pane__job-card-container--viewport-tracking-0 " aria-hidden="false" data-view-name="job-card">

      <div id="ember460" class="job-card-list__entity-lockup artdeco-entity-lockup artdeco-entity-lockup--size-4 ember-view">
          <div id="ember461" class="mr1 job-card-list__logo artdeco-entity-lockup__image artdeco-entity-lockup__image--type-square ember-view" type="square">
            
    <div class="ivm-image-view-model    job-card-list__logo-ivm">
        
    <div class="ivm-view-attr__img-wrapper display-flex">
<!---->          <img width="56" src="https://media.licdn.com/dms/image/C560BAQHQEYhZXjBZuA/company-logo_100_100/0/1580234636824?e=1701302400&amp;v=beta&amp;t=sfNoxDN55yBxYT0p1TJ-6r4JG6ANqJaMBYugkZS2YtU" loading="lazy" height="56" alt="Cometeer logo" id="ember462" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
    </div>
  
          </div>
  
          
</div>

        <div id="ember463" class="flex-grow-1 artdeco-entity-lockup__content ember-view">
          <div id="ember464" class="full-width artdeco-entity-lockup__title ember-view">
                <a data-control-id="lfXMadm8fq014fCq2yUjBw==" tabindex="0" href="/jobs/view/3701427136/?eBP=JOB_SEARCH_ORGANIC&amp;refId=uCozGVlMt%2B2zl6aqYONDNA%3D%3D&amp;trackingId=lfXMadm8fq014fCq2yUjBw%3D%3D&amp;trk=flagship3_search_srp_jobs" id="ember465" class="disabled ember-view job-card-container__link job-card-list__title" aria-label="Intern, Data Science and Analytics">
                  Intern, Data Science and Analytics
                </a>
          
</div>
          <div id="ember466" class="artdeco-entity-lockup__subtitle ember-view">
              <span class="job-card-container__primary-description ">
                Cometeer
              </span>

          </div>

          <div id="ember467" class="artdeco-entity-lockup__caption ember-view">
                <ul class="job-card-container__metadata-wrapper">
                    <li class="job-card-container__metadata-item ">
                      <!---->New York, NY (Hybrid)<!---->
                    </li>
<!---->                </ul>
          </div>
<!---->        </div>
          <div class="job-card-container__action-container flex-shrink-zero display-flex
              ">
              
      <div class="job-card-list__dismiss">
          <button aria-label="Dismiss job Intern, Data Science and Analytics" id="ember468" class="job-card-container__action artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view" type="button">  <li-icon aria-hidden="true" type="visibility-off" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" data-supported-dps="32x32" fill="currentColor" class="mercado-match" width="32" height="32" focusable="false">
      <path d="M16 11.5a4.64 4.64 0 00-1.95.43l6 6A4.64 4.64 0 0020.5 16a4.42 4.42 0 00-4.5-4.5z"></path>
      <path d="M16 9.5a6.52 6.52 0 015.54 9.92l3.05 3A15.47 15.47 0 0030 16a15 15 0 00-14-9 15.67 15.67 0 00-5.8 1.08l2.38 2.38A6.47 6.47 0 0116 9.5zM3 3.71L8.29 9A15.42 15.42 0 002 16a15 15 0 0014 9 15.45 15.45 0 006.79-1.51l5.5 5.51.71-.71L3.71 3zm8.05 8.05l1.43 1.42a4.49 4.49 0 00-1 2.82A4.42 4.42 0 0016 20.5a4.49 4.49 0 002.82-1l1.42 1.5a6.52 6.52 0 01-9.19-9.19z"></path>
    </svg></li-icon>

<span class="artdeco-button__text">
    
</span></button>
      </div>
  

            
<!---->      
          </div>

      
</div>

        
<!---->      

        <ul class="job-card-list__footer-wrapper job-card-container__footer-wrapper flex-shrink-zero display-flex t-sans t-12 t-black--light t-normal t-roman">
                <li class="job-card-container__footer-item
                    ">
                  <time datetime="2023-08-23">
                      2 days ago
<!---->                  </time>
                </li>
        </ul>
<!---->      <span class="visually-hidden" aria-live="polite">
<!---->      </span>
    </div>

    
    <div id="ember469" class="ember-view"><!----></div>
  
  
    </div>
  
            
        </li>